.ant-layout-sider.sider-bar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--sidebar-background);
  margin: var(--padding-body) 0 var(--padding-body) var(--padding-body);
  z-index: var(--sider-z-index);
  // border-right: 1px solid var(--border-regular-light);
  box-shadow: 4px 0 4px -2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  transition: all 0s;

  ::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &.ant-layout-sider-collapsed {
    ::-webkit-scrollbar,
    ::-webkit-scrollbar-thumb {
      display: none;
    }
  }

  &.open-fixed {
    flex: 0 0 var(--sider-width) !important;
    max-width: var(--sider-width) !important;
    min-width: var(--sider-width) !important;
    width: var(--sider-width) !important;
    background: var(--background-content-color);

    .ant-layout-sider-trigger {
      width: var(--sider-width) !important;
    }

    ::-webkit-scrollbar,
    ::-webkit-scrollbar-thumb {
      display: block;
    }
  }

  &.ant-layout-sider-has-trigger {
    padding-bottom: calc(var(--header-height) - 15px);
  }

  &:hover {
    ::-webkit-scrollbar-thumb {
      background-color: #7e7e7e;

      &:active {
        background-color: #686868d2;
      }
    }
  }

  &.scrolled {
    header.sider-header {
      background-color: var(--background-content-color);
    }
  }

  header.sider-header {
    position: sticky;
    top: 0;
    // height: var(--header-height);
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: inherit;
    background-color: transparent;
    /* border-bottom: 1px solid var(--border-regular-light); */
    padding: 0px;
    z-index: 1;

    .logo-header {
      display: flex;
      align-items: center;
      gap: 20px;
      height: var(--header-height);
      border-bottom: 1px solid #7e7e7e77;

      .menu-btn {
        display: none;
        height: auto;
        background: transparent;
        border: none;
        cursor: pointer;
        color: inherit;
        transition: opacity 0.25s;

        &.show {
          display: flex;
        }

        svg {
          fill: var(--app-background-color) !important;
        }

        &:active {
          opacity: 0.8;
        }
      }

      .logo {
        display: inline-block;
        margin-right: 15px;

        a {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 2.25rem;
        }
      }

      /* .menu-header {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin-left: 25px;
  
        .menu-header-item {
          cursor: pointer;
          user-select: none;
          white-space: nowrap;
          transition: all 0.3s;
  
          a {
            color: #d9d9d9 !important;
          }
  
          & + .menu-header-item {
            margin-left: 20px;
          }
  
          &.active {
            a {
              color: #fff !important;
            }
          }
  
          &:hover {
            a {
              color: var(--text-color-gray) !important;
            }
          }
        }
      } */
    }

    .user-header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 15px 0;
      width: 100%;

      .avatar-box {
        display: flex;
        align-items: center;
        justify-self: center;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .user-name-short {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        /* margin-left: 12px; */
        background-image: linear-gradient(
          to right,
          var(--app-background-color3),
          var(--app-background-color2)
        );
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
          line-height: normal;
        }
      }
    }
  }

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: calc(var(--header-height));
    overflow-y: hidden;

    .menu-sider-bar,
    .menu-sider-bar-rtl {
      max-height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      // scrollbar-width: thin;
      // scrollbar-color: transparent transparent;

      // &:hover {
      //   scrollbar-color: #7e7e7e transparent;
      // }
    }
  }

  .ant-layout-sider-trigger {
    position: fixed;
    bottom: 0;
    z-index: 2;
    background: transparent;
    line-height: inherit;
    height: calc(var(--header-height) - 15px);
    margin-bottom: var(--padding-body);
    overflow: hidden;
    color: inherit;
    transition: all 0s;

    footer.sider-footer {
      display: flex;
      width: 100%;
      height: 100%;
      min-width: 100%;
      // background-color: var(--background-content-color);
      border-top: 1px solid var(--border-regular-light);
      // border-right: 1px solid var(--border-regular-light);
      cursor: pointer;
      user-select: none;

      .trigger-collapse {
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding-left: 24px;
        transition: all 0.15s;

        &.collapsed {
          .title-trigger-collapse {
            &.collapsed {
              opacity: 1;
            }

            &.open {
              opacity: 1;
            }
          }
        }

        .title-trigger-collapse {
          font-size: 1.45rem;
          user-select: none;
          transition: all 0s;

          &.collapsed {
            opacity: 1;
          }

          &.open {
            opacity: 0;
          }
        }

        svg {
          margin-right: 13px;
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .ant-layout-sider.sider-bar {
    --sider-width: 0px;
    --sider-collapsed-width: 0px;
    border: none;
    overflow: hidden;

    .ant-layout-footer {
      .trigger-collapse {
        .title-trigger-collapse {
          font-size: 1.4rem;
        }
      }
    }
  }
}
