:root {
  --app-background-color: #008ddf;
  --app-background-color1: #c30061;
  --app-background-color2: #000046;
  --app-background-color3: #00b4dd;
  --app-background-color4: #470024;
  --app-background-color5: #6d026d;
  --app-background-color6: #00dc82;
  --app-background-color7: #004298;
  --app-background-color8: #0069a5;
  --app-background-color9: #fd3b00;
  --app-background-color10: #e80000;

  --background-app-color: #f5f5f5;
  --background-content-color: #ffffff;
  --background-content-color1: #ffffff;
  --background-content-color2: #ffffff;
  --background-content-opacity: #111111e3;
  --background-content-white: #ffffff;
}

html.dark {
  --background-content-white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-content-white: #ffffff;
  }
}
