:root {
  --border-regular: #393939;
  --border-regular-light: #313131;
  --border-light: #31313162;

  --border-radius-normal: 4px;
}

/* html.dark {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
} */
